<div class="page-header">
  <h1>Ajouter un nouveau livre</h1>
</div>

<div class="form-container">
  <%= render 'form', book: @book %>
</div>

<div class="actions">
  <%= link_to 'Retour à la liste', books_path, class: 'button back' %>
</div>