/* Styles pour les utilisateurs */
.users-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-list th, .users-list td {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .user-details {
    margin-bottom: 30px;
  }
